parameters:
  level: 8
  scanFiles:
    - stubs/elementor.php
  paths:
    - simple-events-by-mime.php
    - uninstall.php
    - src
    - templates
  excludePaths:
    - vendor
    - node_modules (?)
    - assets/dist (?)
  tmpDir: .cache/phpstan
