parameters:
  level: 8
  scanFiles:
    - stubs/elementor.php
    - stubs/divi.php
  paths:
    - mime-simple-events-calendar.php
    - uninstall.php
    - src
    - templates
  excludePaths:
    - vendor
    - node_modules (?)
    - assets/dist (?)
  tmpDir: .cache/phpstan
